---
import HeroBtns from "./HeroBtns.astro";
---

<div class="flex flex-col items-center">
  <h1
    class="text-primary-text text-center text-5xl md:text-6xl font-bold mt-[17vh]"
  >
    Welcome to My Blog
  </h1>
  <h3 class="text-[#d140b6] text-center text-xl font-bold mt-3">
    Learn | Code | Build
  </h3>
  <p
    class="text-primary-text text-center text-xl my-4 w-[320px] sm:w-[500px] md:w-[600px] lg:w-[700px] xl:w-[800px]"
  >
    Learn about the latest technologies and build your own projects. Learn about
    Full Stack Developemt, Machine Learning, Data Science, Best Practices while
    development and much more.
  </p>
  <div class="flex flex-col items-center mt-2">
    <HeroBtns />
  </div>
</div>
