---
import { Icon } from "astro-icon/components";
---

<div class="flex gap-3 items-center">
  <a
    href="/blog"
    class="rounded-full bg-purple-700 hover:bg-purple-800 px-4 py-2"
  >
    <p
      class="text-white text-xl font-medium flex items-center capitalize gap-2"
    >
      <span class=""> View Blog </span>
      <!-- <Icon name="line-md:arrow-right" class="w-6 h-6" /> -->
    </p>
  </a>
  <a
    href="/contact"
    class="rounded-full bg-[#0077b6] hover:bg-[#0076b6cb] px-4 py-2"
  >
    <p
      class="text-white text-xl font-medium flex items-center capitalize gap-2"
    >
      <span class=""> Write Blog </span>
      <!-- <Icon name="majesticons--edit-pen-2" class="w-6 h-6" /> -->
    </p>
  </a>
</div>
