---
import PageLayout from "../layouts/PageLayout.astro";
import Hero from "@/components/Home/Hero/Hero.astro";
import RecentsArticles from "@/components/Home/RecentsArticles.astro";
---

<PageLayout title="Home | Bijoy Kar">
  <div class="mt-10">
    <Hero />
  </div>
  <div class="">
    <RecentsArticles />
  </div>
</PageLayout>
