---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Home | Bijoy Kar">
  <div class="">
    <span class="text-primary-text">Welcome to Astro.</span>
    <span class="text-secondary-text">Welcome to Astro.</span>
    <span class="bg-primary-bg">Welcome to Astro.</span>
    <span class="bg-secondary-bg">Welcome to Astro.</span>
  </div>
</PageLayout>
