---
import HeaderBtns from "./HeaderBtns.svelte";
import NavBar from "./NavBar.astro";
import SmNavBar from "./SmNavBar.svelte";
---

<header
  class="fixed top-0 left-0 w-full h-[4rem] flex items-center justify-between px-3 sm:px-4 md:px-5 lg:px-8 z-20 bg-secondary-bg shadow-md"
>
  <div class="flex items-center">
    <div class="block sm:hidden">
      <SmNavBar client:load />
    </div>
    <a href="/" class="">
      <h1 class="text-[1.7rem] font-bold">Bijoy Kar</h1>
    </a>
  </div>
  <div class="">
    <NavBar />
  </div>
  <div class="">
    <HeaderBtns client:load />
  </div>
</header>
