---
const date = new Date();
const year = date.getFullYear();
---

<footer class="bg-secondary-bg py-4 px-4">
  <div class="container mx-auto flex flex-col justify-center items-center">
    <p class="text-center text-lg text-gray-600">
      &copy; {year} Bijoy Kar. All rights reserved.
    </p>
  </div>
</footer>
